* {
    padding: 0;
    margin: 0;
    vertical-align: top;
}
body {
    font: 18px/1.5em "proxima-nova", Helvetica, Arial, sans-serif;
}
input[type=checkbox] {
    font-size: 18px; margin: 7px;
}
p {
    margin-top: 10px;
}
#header {
    position: relative; width: 900px; margin: auto;
}
#header h2 {
    margin-left: 10px;
    vertical-align: middle;
    text-decoration: none;
    color: #000;
    margin-top: 15px;
    font: bold 42px "omnes-pro", Helvetica, Arial, sans-serif;
}
#content {
    width: 880px;
    margin: 0 auto;
    padding: 10px;
}
#choices {
    float: right;
    width:135px;
}
.flot-container {
    box-sizing: border-box;
    width: 850px;
    height: 450px;
    padding: 20px 15px 15px 15px;
    margin: 15px auto 30px auto;
    border: 1px solid #ddd;
    background: #fff;
    background: linear-gradient(#f6f6f6 0, #fff 50px);
    background: -o-linear-gradient(#f6f6f6 0, #fff 50px);
    background: -ms-linear-gradient(#f6f6f6 0, #fff 50px);
    background: -moz-linear-gradient(#f6f6f6 0, #fff 50px);
    background: -webkit-linear-gradient(#f6f6f6 0, #fff 50px);
    box-shadow: 0 3px 10px rgba(0,0,0,0.15);
    -o-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
    -ms-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
    -moz-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
    -webkit-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}
.flot-placeholder {
    width: 675px;
    height: 100%;
    font-size: 14px;
    line-height: 1.2em;
    float: left;
}
.legend table {
    border-spacing: 5px;
}
